@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 248, 250, 252;
  --foreground: 15, 23, 42;
  --card: 255, 255, 255;
  --border: 15, 23, 42;
  color-scheme: light;
}

.dark {
  --background: 10, 15, 20;
  --foreground: 255, 255, 255;
  --card: 14, 20, 27;
  --border: 255, 255, 255;
  color-scheme: dark;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased transition-colors duration-300;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(var(--foreground), 0.1);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--foreground), 0.2);
  }
}
